.doc {
	line-height: 1.5;
	word-wrap: break-word;
	margin-left: 300px;
	padding: 25px;

	.doc-content {
		margin-right: 15px;
	}

	.doc-content + .doc-content {
		margin-top: 15px;
	}

	.doc-content {
		float: left;
		width: 40%;
	}

	.doc-section > h2:first-child {
		margin-bottom: 15px;
	}

	.doc-section {
		overflow: auto;
		padding-bottom: 15px;
	}
}
