<!DOCTYPE HTML>
<html lang="en">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="{{ "css/main.css" | url }}">
	{% block htmltitle %}
		<title>{{ config.site_name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	{% endblock %}
	<body>
		<div class="mobile-nav">
			<a class="toggle" data-nav-toggle="nav-menu">{% include "menu.svg" %}</a>
			<div class="nav-title" id="nav-title"></div>
			<div class="nav-menu" id="nav-menu" hidden="true">{%- include "nav.html" -%}</div>
		</div>
		<div class="doc">
			{% block content %}
				{{ page.content }}
				{%- include "pagenav.html" -%}
			{% endblock %}
		</div>
		<div class="sidebar">
			<div class="sidebar-header">
				<div class="logo">
					<div class="handle"></div>
					<div class="lid"></div>
					<div class="lantern"></div>
				</div>
				<h2>Djinn CI Docs</h2>
			</div>
			{% block site_nav %}
				<div class="sidebar-nav">{%- include "nav.html" -%}</div>
			{% endblock %}
		</div>
		<script type="text/javascript" src="{{ "js/doc.js" | url }}"></script>
		<script type="text/javascript">var base_url = "{{ base_url }}";</script>
		{% for path in extra_javascript %}
			<script type="text/javascript" src="{{ path }}" defer></script>
		{% endfor %}
	</body>
</html>
